@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap");

.header__container > h1 {
  font-family: "Glass Antiqua", cursive;
  font-size: 60px;
  color: #635438;
  letter-spacing: 3px;
  font-weight: 200;
  /* border: 1px solid black; */
  margin: 40px 0 20px;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  padding: 20px 80px;
  margin: 50px 0;
}

.header__container > h4 {
  font-family: "Glass Antiqua", cursive;
  letter-spacing: 1.5px;
  font-size: 30px;
  color: #635438;
  /* border: 1px solid black; */
  margin: 5px 0 50px;
}

.header__container > p {
    text-align: center;
    /* font-family: "Glass Antiqua", cursive; */
    letter-spacing: 0.5px;
    word-spacing: 7px;
    line-height: 35px;
    font-weight: 300;
}
