@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.auth-form__container {
  width: 380px;
  display: flex;
  justify-content:center;
  /* width: 1024px; */
  align-items: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
  padding: 40px 0;
  width: 500px;
  background: white;
  border-radius: 20px;
}

/*  ------ AUTH TITLE ------ */

.auth-form__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  margin-bottom: -15px;
}

.auth-form__title > h3 {
  margin: 5px 0;
}

.auth-form > span {
  font-weight: 300;
  margin: 0;
}

/*  ------ AUTH INPUT ------ */
.auth-form__input {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 10px; */
  /* border: 1px solid red; */
}

.auth-form__input > input {
  padding: 8px 0;
  outline: none;
  border: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 0px);
  background-size: 100% 3em;
  background-position-y: 35px;
  line-height: 2.5em;
  /* border: 1px solid black; */
}

.auth-form__input > input[type="password"] {
  font-family: Verdana;
  letter-spacing: 0.1em;
  font-weight: 200;
}

.auth-form__input > input[type="email"] {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  /* font-weight: 300; */
  font-weight: 200;
}

.auth-form__input > input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
}

/* ------ AUTH SUBMIT BUTTON ------ */

.auth-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  /* border: 1px solid red; */
}

.auth-btn {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.auth-btn::after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.auth-btn:hover:after {
  transform: translate(0, 0);
}

.auth-btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.auth-btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .auth-btn {
    padding: 0 40px;
  }
}

/* ------ AUTH SWITCH MODE ------ */

.auth-switch-mode > span,
.auth-form > span {
  font-weight: 300;
  font-size: 12px;
}

/* ------ AUTH OPTIONS ------ */
