@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

html {
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* word-spacing: 5px; */
}

body::-webkit-scrollbar {
    display: none;
}


button{
    border: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color:black;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.2px;
    word-spacing: 5px;
}